
  
  <!-- Modal info -->
  <div class="modal fade" id="exampleModal-{{item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color: #212121;">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{item.nome}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{item.descricao}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Compra -->
  <div class="modal fade" id="exampleModalCompra-{{item.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="background-color: #212121;">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{item.nome}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST">
            {{ compra_form.hidden_tag() }}
            <h5>
              Deseja comprar o produto {{ item.nome }} por R$ {{ item.preco }}?
            </h5>
            <p>
              Clique no botão comprar para comprar este produto.
            </p>
            <br>
            <div class="text-center">
            {{ compra_form.submit(class='btn btn-outline-success btn-block') }}
            </div>  
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>