{% include 'include.html' %}

<footer class="stick-footer pt-5">
  <div class="container">
    <div class="row">

      <div class="col-md-3">
        <div class="row align-items-center">
          <div class="col-3">
            <i class="bi bi-cart-check fs-1"></i>
          </div>
          <div class="col-9 alig-itens-start p-0">
            <h5 class="m-0"><span class="fw-bold fs-4 shadow-sm">E-commerce_</span></h5>
            <p class="m-0"><span class="fw-lighter fs-6">PROJECT</span></p>
          </div>
        </div>
      </div>
    
      <div class="col-md-9">
        <ul class="social-icons d-flex justify-content-end gap-3 list-unstyled">
          <li><a href="#"><i class="bi bi-facebook fs-2"></i></a></li>
          <li><a href="#"><i class="bi bi-twitter fs-2"></i></a></li>
          <li><a href="#"><i class="bi bi-instagram fs-2"></i></a></li>
        </ul>
      </div>
      
    </div>
    
    <hr>
    
    <div class="row pb-3">
      <div class="col-md-3">
        <h5><a href="#">TERMOS DE USO</a></h5>
      </div>
      <div class="col-md-3">
        <h5><a href="#">POLÍTICA DE PRIVACIDADE</a></h5>
      </div>
      <div class="col-md-3">
        <h5><a href="#">FALE CONOSCO</a></h5>
      </div>
      <div class="col-md-3">
        <h5><a href="#">TRABALHE CONOSCO</a></h5>
      </div>
    </div>
    

  </div>
</footer>
