{% extends 'base.html' %} {% block conteudo %}

<div class="container-fluid mb-2">
  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-8 col-md-8 col-sm-12"">
      <h2 style="text-align: center">Produtos Disponíveis</h2>
      <p style="text-align: center">
        Clique em comprar o item caso tenha interesse
      </p>
      <hr />
      <table class="table table-hover table-dark table-bordered text-center">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Cód Barra</th>
            <th scope="col">Preço</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for item in itens %} {% include 'includes/modal_produtos.html' %}
          <tr>
            <td>{{item.id}}</td>
            <td>{{item.nome}}</td>
            <td>{{item.cod_barra}}</td>
            <td class="text-right">
              R${{ '{:,.2f}'.format(item.preco).replace('.', '|').replace(',',
              '.').replace('|', ',') }}
            </td>
            <td>
              <button
                class="btn btn-outline btn-info me-2"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal-{{item.id}}"
              >
                Mais informações
              </button>
              <button
                class="btn btn-outline btn-success"
                data-bs-toggle="modal"
                data-bs-target="#exampleModalCompra-{{item.id}}"
              >
                Comprar esse produto
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <h2>Produtos Adquiridos</h2>
      <p>Clique em devolver o item caso tenha interesse</p>
      <hr />
      <div class="container-fluid overflow-hidden text-center">
        <div class="row g-2">
          {% for dono_item in dono_itens %} {% include
          'includes/dono_modal_produtos.html' %}
          <div class="col-6">
            <div class="card text-center bg-dark">
              <div class="card-body">
                <h5 class="card-title" style="color: aliceblue">
                  {{ dono_item.nome }}
                </h5>
                <button
                  style="margin: 0.5rem"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModalVenda-{{dono_item.id}}"
                  class="btn btn-outline-danger"
                  type="button"
                >
                  Vender esse produto
                </button>
                <p style="color: aliceblue">
                  <strong> Esse produto custa R$ {{ dono_item.preco }} </strong>
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
